* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


main {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding 0 25px;
  
}

article {
  content: "";
  clear: both;
  display: table;
  border: solid darkgreen;
  border-radius: 10px;
  width: 100%;
  min-width: 500px;
  padding: 2%;
  margin: 5vw auto;
}

figure {
  float: left;
  width: 25vw;
  margin: 0 2vw;
  
}

figcaption {
  text-align: left;
  clear: both;
  color: #2E6C85;
}

article:nth-child(even)>figure {
  float: right;
}

header {
  padding: 25px 50px;
  
}

footer {
  padding: 20px
}

.sticky_logo{
  position: fixed;
  top: 2%;
  right: 2%;
}

ul{
  padding-left: 2vw;
}

hero_image {
  margin: auto;
}